<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bridge the gap </title>
    <link href="@Url.Content("~/Content/animate.min.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/Content/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />

    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />

    <link href="Content/bootstrap.min.css" rel="stylesheet">
    @Scripts.Render("~/Scripts/index_angular.js"))






    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>


    <!-- Template js -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-app="school" ng-controller="detail_controller">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

        <div class="container">

            <!-- Brand and toggle get grouped for better mobile display -->

            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">

                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="color:white" href="#">Home</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" style="color:white">
                    <li>
                        <a href="#" style="color:white">About</a>
                    </li>
                    <li>
                        <a href="#" style="color:white">Contact</a>
                    </li>
                </ul>
                <br /><br />
                <div class="container" style="text-align:center;">
                    <ul class="nav navbar-nav" style="color:white">
                        <h1 style="text-align:center;">List of Schools</h1>
                    </ul>
                </div>
            </div>
            <!-- /.navbar-collapse -->
        </div>

    </nav>
    <!-- /.container -->
    <!-- Start Main Body Section -->
    <div class="mainbody-section text-center">



        <div class="container-fluid" style="text-align:left; background-image:url(https://cedricreyes.files.wordpress.com/2012/10/20121020-104644.jpg); background-size: 1000px">
            <br /><br />
            <!-- Page Heading -->
            <!--<div class=" row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        List of Schools

                    </h1>
                </div>
            </div>-->
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-7">
                    <li ng-repeat="school in school_detail">
                        <div class="row" style="background-color:white">

                            <div class="col-md-12">
                                <div class="row" style="text-align: left">
                                    <h2><span class="glyphicon glyphicon-bookmark" style="font-size:40px;"></span> {{school.SchoolName}}</h2>
                                    <h4 style="font-family:'Times New Roman', Times, serif"><span class="glyphicon glyphicon-road" style="font-size:20px;margin-left:10px"></span>{{school.Address}},{{school.DistrictName}}<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{state_dictionary[school.StateName]}} - {{school.Pincode}}</h4>
                                </div>
                                <p>
                                    <div class="row" id="first">
                                        <div ng-if="school.FemaleStudentCount>0">
                                            <div class="col-md-3" style="font-family:'Times New Roman', Times, serif;font-size:15px">
                                                Total no of female students: {{school.FemaleStudentCount}}
                                            </div>
                                        </div>
                                        <div ng-if="school.MaleStudentCount>0">
                                            <div class="col-md-3" style="font-family:'Times New Roman', Times, serif;font-size:15px">
                                                Total no of male students : {{school.MaleStudentCount}}
                                            </div>
                                        </div>
                                        <div ng-if="school.MaleStudentCount == 0 && school.FemaleStudentCount == 0">
                                            <div class="col-md-3" style="font-family:'Times New Roman', Times, serif;font-size:15px">
                                                Student Enrollment data not available
                                            </div>
                                        </div>
                                        <div class="col-md-3" style="font-family:'Times New Roman', Times, serif;font-size:15px">
                                            Year of estd : {{school.YearOfEstd}}
                                        </div>
                                        <div class="col-md-3" style="font-family:'Times New Roman', Times, serif;font-size:15px">
                                            Medium of instruction: {{language_dictionary[school.MediumOfInstruction]}}
                                        </div>
                                        </div>
                                    <div class="row" style="margin-left:15px">

                                        <div ng-if="school.LibraryCount != null" style="font-family:'Times New Roman', Times, serif;font-size:15px">
                                            {{library_dictionary[school.LibraryCount]}}
                                            <br />
                                         <div class="col-md-4">  No of books in library : {{school.BooksCount}} </div>
                                            <div class="col-md-4">
                                                No of books in library per child : {{Math.round(school.BooksCount/(school.FemaleStudentCount+school.MaleStudentCount))}}
                                            </div>
                                            </div>

                                        <div ng-if="school.FemaleToiletCount !=null">
                                            <div ng-if="school.FemaleStudentCount>0" style="font-family:'Times New Roman', Times, serif;font-size:15px">
                                                <div class="col-md-3">
                                                    No of female toilets: {{school.FemaleToiletCount}}
                                                </div>
                                                <div ng-if="school.FemaleToiletCount>0" style="font-family:'Times New Roman', Times, serif;font-size:15px">
                                                    <div class="col-md-3">
                                                        No. of female students per toilet  : {{Math.round(school.FemaleStudentCount/school.FemaleToiletCount)}}
                                                    </div>
                                                   </div>
                                            </div>
                                            <div ng-if="school.MaleStudentCount>0" style="font-family:'Times New Roman', Times, serif;font-size:15px">
                                                <div class="col-md-3">
                                                    No of male toilets :{{school.MaleToiletCount}}
                                                </div>
                                                <div ng-if="school.MaleToiletCount>0" style="font-family:'Times New Roman', Times, serif;font-size:15px">
                                                    <div class="col-md-3">
                                                        No of male students per toilet :{{Math.round(school.MaleStudentCount/school.MaleToiletCount)}}
                                                    </div>
                                                </div>
                                            </div></div>
                                        <div ng-if="school.MidDayMeal != null" style="font-family:'Times New Roman', Times, serif;font-size:15px">
                                            Mid day meals not provided


                                        </div>
                                        <div ng-if="school.ElectricityConnectionStatus != null" style="font-family:'Times New Roman', Times, serif;font-size:15px">
                                            Status of electricity connection : {{school.ElectricityConnectionStatus }}
                                        </div>
                                        <div ng-if="school.ClassroomCount != null" style="font-family:'Times New Roman', Times, serif;font-size:15px">
                                            <div class="col-md-4">
                                                Total no. of classrooms for instructional purposes : {{school.ClassroomCount}}
                                            </div>
                                            <div class="col-md-3">
                                                Total no of classrooms that need repair : {{school.ClassroomRepairCount}}
                                            </div>
                                            <div ng-if="school.studentclassroomratio >-1" style="font-family:'Times New Roman', Times, serif;font-size:15px">
                                                <div class="col-md-3">
                                                    avg no. of students per classroom
                                                    {{school.studentclassroomratio}}

                                                </div>
                                            </div>
                                        </div>
                                        <div ng-if="school.ComputerAidedLearning != null" style="font-family:'Times New Roman', Times, serif;font-size:15px">
                                            <div class="col-md-3">
                                                School provides computer aided learning : {{school.ComputerAidedLearning}}
                                            </div>
                                            <div class="col-md-3">
                                                No of computers : {{school.ComputerCount}}
                                            </div>
                                        </div>

                                        <div ng-if="school.RTECurYearStudentCount != null" style="font-family:'Times New Roman', Times, serif;font-size:15px">
                                            <div class="col-md-6">
                                                No. of students given admission this year under RTE : {{school.RTECurYearStudentCount}}
                                            </div>
                                            <div class="col-md-6" >

                                                No. of students given admission prev year under RTE :{{school.RTEPrevYearStudentCount}}
                                            </div>
                                            </div>
                                            <div ng-if="school.FemaleTeacherCount != null" style="font-family:'Times New Roman', Times, serif;font-size:15px">
                                                <div class="col-md-3">
                                                    No. of female teachers : {{school.FemaleTeacherCount}}
                                                </div>
                                                <div class="col-md-3">
                                                    No. of male teachers :{{school.MaleTeacherCount}}
                                                </div>
                                                <div class="col-md-3">
                                                    Student Teacher Ratio :{{school.StudentTeacherRatio}}
                                                </div>
                                            </div>


                                    </div></div>
                                </p>
                            <div class="row" style="text-align: left">

                              <!---<a class="btn btn-primary" href="#" ng-click="generate_pledge(school.SchoolCode)">I'd want to contribute <span class="glyphicon glyphicon-chevron-right"></span></a> -->
                                @Html.Action("ExternalLoginsList", "Account", new { ReturnUrl = ViewBag.ReturnUrl })
                            </div>
                                     <div ng-attr-id="{{school.SchoolCode}}">
                                    <br />

                                </div>
                                @*<hr>*@
                            </div>
                        </div>
                        <br /><br />
                    </li>






             
                <!--Live Feed-->
                <div class="col-md-1"></div>
                <div class="col-md-3">
                    <div class="col-md-11">
                        <div class="row">
                            <hr>
                            <p style="color:whitesmoke; font-size:100px; text-align:center; font-family:'Monotype Corsiva';"><span class="glyphicon glyphicon-heart" style="font-size:65px; color:darkred"></span> Pledges</p>
                            <hr />
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img src="http://www.rootsweb.ancestry.com/~moicgs/Web-Images/NotePaper.png" />
                                </div>
                            </div>
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img src="http://www.rootsweb.ancestry.com/~moicgs/Web-Images/NotePaper.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Pagination-->
        <div class="container">
            <div class="row text-center">
                <ul class="col-lg-12">
               
                       
                            <ul ng-if="no_of_pages > 5" class="pagination">
                                <li><a href="#" ng-click="first_page()">First</a>
                                            </li>
                                <li>
                                    <a href="#" ng-click="prev()">«</a>
                                </li>
                            </ul>
                        
                      
                      
                        <ul ng-repeat="n in current_page_slider" class="pagination">
                            <li>
                                <a href="#" ng-click="update_page(n)"> {{n}}</a>
                            </li>

                        </ul>
                    <ul class="pagination">


                       
                        <ul ng-if="no_of_pages > 5" class="pagination">
                           
                            <li>
                                <a href="#" ng-click="next()">»</a>
                            </li>
                            <li>
                                <a href="#" ng-click="last_page()">Last</a>
                            </li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    </div>



   <!---<div class="section-modal modal fade" id="facebook_login" tabindex="-1" role="dialog" aria-hidden="true" modal="showModal">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>

            <div class="container">
         
          ////Html.Action("ExternalLoginsList","Account", new { ReturnUrl = ViewBag.ReturnUrl })
    </div></div></div> -->

   <!--- <div class="modal-header">
        <h3 class="modal-title">Login</h3>
    </div>
    <div class="modal-body">
      // 

</div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div> -->
</body>

</html>
